<div class="flex justify-center items-center gap-10 font-Inter text-lg font-semibold absolute left-0 bottom-0 w-full h-10">
	<a href="https://github.com/Rohit-Molawade/Clubhouse"><img src="/images/github.png"class="aspect-square object-contain" alt="github"></a>
	<p>Made with ❤️ by Rohit Molawade</p>
</div>