<div class="flex flex-row justify-between bg-header-background align-middle text-logo-text">
  <div class="flex flex-auto flex-row">
    <p class="p-5 text-2xl font-semibold">ClubHouse</p>
  </div>
  <div class="flex basis-3/12 flex-row justify-center space-x-5 px-2 align-middle font-NavLinks text-lg">
    <button onclick="window.location.href='/login'" class="border-red-500 p-2 text-gray-400 hover:border-b-4 hover:text-white">Login</button>
    <button onclick="window.location.href='/signup'" class="border-red-500 p-2 text-gray-400 hover:border-b-4 hover:text-white">Sign Up</button>
  </div>
</div>
