<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/output.css" />
  </head>
  <body class="bg-content-background">
    <!--Header partial-->
    <%- include('./partials/header.ejs') %>
    <div>
      <div class="flex flex-row">
        <div class="basis-7/12">
          <div></div>
        </div>
        <div class="basis-5/12"></div>
      </div>
    </div>
  </body>
</html>
